<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.zhs.basic.dao.MybatisMapper.DictionaryMapper">


    <resultMap id="dictionaryMap" type="com.zhs.basic.model.Dictionary">
        <result property="id" column="id"/>
        <result property="creator" column="creator"/>
        <result property="createDate" column="create_date"/>
        <result property="lastUpdateDate" column="last_update_date"/>
        <result property="deleted" column="deleted"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="state" column="state"/>
        <result property="description" column="description"/>
    </resultMap>



    <!--查询列表-->
    <select id="getDictionaryList" resultType="hashMap" parameterType="com.zhs.common.jqGrid.JqGridQueryVo">
        SELECT d.id as id, d.code as code, d.name as name, d.type as type, d.description as description, d.state as state,
        d.creator as creator, d.create_date as createDate, d.last_update_date as lastUpdateDate, d.deleted as deleted
        FROM t_zhs_dictionary d
        <where>
            1=1
            <if test=" name != null and name != '' ">
                and ( d.code LIKE CONCAT('%', CONCAT(#{name}, '%')) or d.name LIKE CONCAT('%', CONCAT(#{name}, '%')))
            </if>
            <if test=" type != null and type != '' ">
                and d.type = #{type}
            </if>
        </where>
    </select>


    <select id="findByCodeAndType" resultMap="dictionaryMap">
        SELECT * FROM t_zhs_dictionary WHERE code = #{code} AND type = #{type}
    </select>


    <select id="getListByType" resultMap="dictionaryMap" parameterType="string">
        SELECT * FROM t_zhs_dictionary WHERE type = #{type}
    </select>

</mapper>