<html xmlns:th="http://www.thymeleaf.org">

<style>
	.modal-dialog {
		width: 700px;
		margin: 30px auto;
	}
</style>

	<div>

		<!--导航栏-->
		<div class="breadcrumbs" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-list-ul home-icon"></i>
					<a href="#">系统管理</a>
				</li>
				<li class="active">通知管理</li>
				<li class="active">消息管理</li>
			</ul>
		</div>


		<div class="col-xs-12">

			<div class="row marginTop">
				<div class="col-xs-3">
					<input type="text" class="form-control" id="name" name="name" placeholder="支持标题、内容查询" autocomplete="off"/>
				</div>
				<div class="col-xs-3">
					<div class="input-group">
						<input type="text" class="form-control" id="criteriaText" name="criteriaText" placeholder="一些其他信息" autocomplete="off"/>
						<div class="input-group-btn">
							<button type="button" class="btn btn-default no-border btn-sm" onclick="search()">
								<i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
							</button>
						</div>
					</div>
				</div>
				<div class="col-xs-1 pull-right">
					<a th:href="@{#message/toAdd}" class="form-control btn btn-primary pull-right">
						<i class="fa fa-plus" aria-hidden="true"></i>&nbsp;新增</a>
				</div>
			</div>

			<br/>

			<table id="grid-table"></table>

			<div id="grid-pager"></div>

		</div>

	</div>

	<!-- 弹出框 -->
	<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="remoteModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content"></div>
		</div>
	</div>

</html>


<script type="text/javascript">


	//每次隐藏 model 模态框，清除 remote 缓存数据
    $("#Modal").on("hidden.bs.modal", function() {
        $(this).removeData("bs.modal");
    });


    $(function(){
        run_jqGrid_function();

        $("#grid-table").jqGrid('setLabel','rn', '序号', {'text-align':'center','vertical-align':'middle'},'');   //设置序号
    });


    function run_jqGrid_function() {
        jQuery("#grid-table").jqGrid({
            url: 'message/getMessageList',
            postData: {code:"seller"},
            datatype: "json",
            colModel: [
                {label:'id',name: 'id', index: 'id', hidden:true},
                {label:'消息标题',name: 'title', index: 'title', align: "left", editable: true, width:100},
                {label:'发送人',name: 'creator', index: 'creator', align: "left", editable: true, width:100},
                {label:'发送时间',name: 'lastUpdateDate', index: 'lastUpdateDate', align: "left", editable: true, width:100, formatter:"date", formatoptions: {srcformat:'Y-m-d H:i:s',newformat:'Y-m-d H:i:s'}},
                {label:'消息内容',name: 'content', index: 'content', align: "left", editable: true, width:100},
                {label:'消息类型',name: 'messageTypeName', index: 'messageTypeName', align: "left", editable: true, width:100},
                {label:'发送范围',name: 'sendRangeName', index: 'sendRangeName', align: "left", editable: true, width:100},
                {label:'操作',name: 'act', index: 'act', sortable: false, align:'center', formatter: act_f, width:100}
            ],
            pager: "#grid-pager",
            autowidth: true,
            height: 'auto',
            viewrecords: true,
            // caption: "角色列表",
            sortable: true,
            sortname:'lastUpdateDate', //设置默认的排序列
            sortorder:'desc',
            rownumbers:true,   //显示序列号
            altRows:true,  //隔行变色
            rowNum:15,  //每页显示记录数
            rowList:[15,30,50,100],
        });
    }


    function search() {
        var params = {name:$("#name").val(),criteriaText:$("#criteriaText").val()};
        $("#grid-table").jqGrid('clearGridData');//清空表格
        $("#grid-table").jqGrid('setGridParam',{
            datatype:'json',
            postData:params,//查询条件
            page:1
        }).trigger("reloadGrid");
    }


    function act_f(cellvalue, option, rowObject) {
        return '<a href="roleInfo/toEditRoleInfo?roleId='+rowObject.id+'" title="编辑" class="menuGap" data-toggle="modal" data-target="#Modal" data-backdrop="static" data-keyboard="false">' +
			'<i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a>'  +
            '<a href="javascript:void(0)" onclick="Delete('+rowObject.id+')" title="删除" class="menuGap"><i class="fa fa-trash-o fa-lg red" aria-hidden="true"></i></i></a>' ;
    }


    function Delete(obj) {
        if (obj == null){
            layer.msg("参数丢失，无法删除",{icon: 5});
            return;
		}

        layer.msg('确认删除该条角色信息吗？', {
            time: 0 //不自动关闭
            ,btn: ['必须啊', '再考虑']
            ,yes: function(index){
                layer.close(index);

                $.ajax({
                    type: "Post",
                    url: "roleInfo/deleteRoleInfo",
                    data: {roleId:obj},
                    dataType: "JSON",
                    success: function (data) {
                        if (data.success) {
                            layer.msg(data.msg,{icon: 6});
                            window.location.reload();  //刷新当前页面
                        }else {
                            layer.msg(data.msg,{icon: 5});
                        }
                    }, error: function (data) {

                    }
                });

            }
        });

    }

</script>
