<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.zhs.provider.dao.MybatisMapper.RoleInfoMapper">


    <resultMap id="roleInfoMap" type="com.zhs.provider.model.RoleInfo">
        <result property="id" column="id"/>
        <result property="creator" column="creator"/>
        <result property="createDate" column="create_date"/>
        <result property="lastUpdateDate" column="last_update_date"/>
        <result property="deleted" column="deleted"/>
        <result property="roleCode" column="role_code"/>
        <result property="roleName" column="role_name"/>
        <result property="roleType" column="role_type"/>
        <result property="parentRoleId" column="parent_role_id"/>
        <result property="description" column="description"/>
    </resultMap>


    <!--查询角色列表-->
    <select id="getRoleInfoList" resultType="hashMap" parameterType="com.zhs.common.jqGrid.JqGridQueryVo">
        SELECT role.id as id, role.role_code as roleCode, role.role_name as roleName, role.role_type as roleType,
        role.parent_role_id as parentRoleId, role.description as description, role.creator as creator,
        role.create_date as createDate, role.last_update_date as lastUpdateDate, role.deleted as deleted
        FROM t_zhs_role_info role
        <where>
            1=1
            <if test=" name != null and name != '' ">
                and ( role.role_code LIKE CONCAT('%', CONCAT(#{name}, '%')) or role.role_name LIKE CONCAT('%', CONCAT(#{name}, '%')))
            </if>
        </where>
    </select>


    <select id="findRoleInfoByRoleCode" resultMap="roleInfoMap" parameterType="string">
        SELECT * FROM t_zhs_role_info WHERE role_code = #{roleCode}
    </select>


    <select id="findById" resultMap="roleInfoMap" parameterType="long">
        SELECT * FROM t_zhs_role_info WHERE id = #{id}
    </select>


    <select id="getAllRoleInfoNotDelete" resultMap="roleInfoMap">
        SELECT * FROM t_zhs_role_info WHERE deleted = 'F'
    </select>


    <select id="getRoleInfoByIds" resultMap="roleInfoMap" parameterType="string">
        SELECT * FROM t_zhs_role_info WHERE id in (
        <foreach collection="ids.split(',')" item="item" index="index" separator=",">
            #{item}
        </foreach>
        )

    </select>


</mapper>